.chat_wrepper
	.chat
		.chat__head
			.chat__head-caption Чат @Апогей
		.chat__body
			.chat__body__contact
				span(title="Онлайн").chat__body__contact-icon <i class="fas fa-circle"></i>
				span(title="Разработчик").chat__body__contact-name Админ
			.chat__body__contact
				span(title="Онлайн").chat__body__contact-icon <i class="fas fa-circle"></i>
				span(title="Конструктор").chat__body__contact-name Мартынов Андрей
			.chat__body__contact
				span(title="Был сегодня в 14:55").chat__body__contact-icon <i style="color:#fb6262" class="fas fa-circle"></i>
				span(title="Технолог").chat__body__contact-name Дмитрий Викторович
			.chat__body__contact
				span(title="Был сегодня в 12:00").chat__body__contact-icon <i style="color:#fb6262" class="fas fa-circle"></i>
				span(title="Директор производства").chat__body__contact-name Пялин Сергей
			.chat__body__contact
				span(title="Был сегодня в 9:30").chat__body__contact-icon <i style="color:#fb6262" class="fas fa-circle"></i>
				span(title="Технолог").chat__body__contact-name Юля
		.chat__footer
		