// Подвал сайта
footer
	.footer-top
		.container
			.row.justify-content-end.firefighter
				img(src="img/img_footer1.png", class="img-fluid", alt="firefighter")
	.footer-down
		.container
			.row
				.col-md-6.d-flex.align-items-end
					img(src="img/img_footer2.png", class="img-fluid", alt="klapan")
					p.copyrighted &copy ООО «Апогей» 2003-2018 <br>
						|Лидер по производству пожарных кранов и клапанов
				.col-md-2.offset-md-1
					nav.footer-menu
						ul
							li <a href="#">О компании</a>
							li <a href="#">Контакты</a>
							li <a href="#">Схема проезда</a>
				.col-md-2.offset-md-1
					nav.footer-menu
						ul
							li <a href="#">В разработке</a>
							li <a href="#">В разработке</a>
							li <a href="#">В разработке</a>