header.header
	.container
		.row.align-items-center
			.col-md-3
				a(href="#")
					img.logo(src="img/logo.png", class="img-fluid", alt="Апогей")
			.col-md-5.header-search
				form(action="#").header-search
					input(type="search", placeholder="Найти...")
					button(type="submit")
						i.fas.fa-search
			.col-md-3
				.p-number.justify-content-center
					i.fas.fa-phone 
					p +7 (495) 783-17-76	
				.h-mail.justify-content-center
					i.fas.fa-envelope
					p oooapogei@mail.ru
			.col-md-1
				.user
					i.fas.fa-user-alt
					i.fas.fa-caret-down