nav.navigate-top
	.container
		.row.no-gutters
			.col-md-3
				ul.catalog
					li
						a(href="#").catalog_name Каталог продукции 
						.mega_menu
							ul.mega_menu-list
								each val in ['Клапаны пожарные', 'Клапаны запорные', 'Клапаны обратные', 'Штуцера', 'Гайка', 'Заглушки', 'Коллекторы', 'Краны', 'Головки соединительные пожарные', 'Стволы пожарные']
									li
										a(href="#").mega_menu-items=val	
			.col-md-8
				ul.menu
					li 
						a(href="#") Главная
					li 
						a(href="#") Создать заявку
					li 
						a(href="#") Обратная связь
			.col-md-1.d-flex.align-items-center.justify-content-center.car
				.shop_car
					a(href="#")
						i.fas.fa-shopping-cart
						//- span.car_name Корзина
						span.badge.badge-pill.badge-info#badge-cart 0
