mixin card-product_list(href,img,name)
	.col-lg-4.col-md-6.card-deck
		a(href=href).card
			img(src="img/product_items/img"+img+".png", alt=name).card-img-top
			.card-body
				.card-title= name


section.wrepper-main
	.container
		.row
			.col-md-3
				ul.product_list
					each val in ['Клапаны пожарные', 'Клапаны запорные', 'Клапаны обратные', 'Штуцера', 'Гайка', 'Заглушки', 'Коллекторы', 'Краны', 'Головки соединительные пожарные', 'Стволы пожарные']
						li
							a(href="#")=val	
			.col-md-9
				.row.product_list-img
					+card-product_list('#', 1, 'Клапаны пожарные')
					+card-product_list('#', 2, 'Клапаны запорные')
					+card-product_list('#', 3, 'Клапаны обратные')
					+card-product_list('#', 4, 'Штуцера')
					+card-product_list('#', 5, 'Гайка')
					+card-product_list('#', 6, 'Заглушки')
					+card-product_list('#', 7, 'Коллекторы')
					+card-product_list('#', 8, 'Краны')
					+card-product_list('#', 9, 'Головки соединительные пожарные')
					+card-product_list('#', 10, 'Стволы пожарные')
					