table.table.table-bordered
	thead.thead-light
		tr
			th(scope="col" style="width: 5%")
			th(scope="col" style="width: 30%") Наименование
			th(scope="col" style="width: 25%") Кому
			th(scope="col" style="width: 25%") От кого
			th(scope="col" style="width: 15%") Время получения
	tbody.tb-task
		tr.tr_sel
			td <i class="far fa-envelope-open"></i>
			td Внесение изменений
			td Лосева Вера Петровна
			td Кравчук Наталья Анатольевна
			td 25.08.2018 11:55
		tr.tr_sel
			td <i class="far fa-envelope-open"></i>
			td Переработка типовых ТП
			td Лосева Вера Петровна
			td Фролов Сергей Иванович
			td 25.08.2018 11:55
		tr.tr_sel
			td <i class="far fa-envelope-open"></i>
			td Внесение изменений
			td Лосева Вера Петровна
			td Кравчук Наталья Анатольевна
			td 25.08.2018 11:55
		tr.tr_sel
			td <i class="far fa-envelope-open"></i>
			td Внесение изменений
			td Лосева Вера Петровна
			td Кравчук Наталья Анатольевна
			td 25.08.2018 11:55