mixin tablesRow(item,int)
	tr.tr_sel
		- for (var x = 0; x < int; x++)
			td= item


.container-fluid.formProduct
	.row
		.col-md-3
			fieldset.form-group.form-wrepper-grey
				legend &ensp;Выбрать группу&ensp;
				label Группа изделия
				select.custom-select(name="groupProduct")
					option(selected) Выберите изделие...
					option(value="1") Раз корпус
					option(value="2") Два корпус
					option(value="3") Три корпус
				label Подгруппа изделия
				select.custom-select(name="groupSubproduct")
					option(selected) Выберите изделие...
					option(value="1") Раз корпус
					option(value="2") Два корпус
					option(value="3") Три корпус
					br
			fieldset.form-group.form-wrepper-grey
				legend &ensp;Новое изделие&ensp;
				label Артикул
				input.form-control(type="text" readonly)
				label Код ТНВЭД
				input.form-control(type="number", name="code-tnvd", value="0" min="0" max="50" step="1")
				label Наименование изделия
				input.form-control(type="text")
				label Обозначение по ТД
				input.form-control(type="text")
				label Наименование по ТД
				input.form-control(type="text")
				label Габариты
				input.form-control(type="text")
				label Масса изделия (кг)
				input.form-control(type="number", name="weight-product", value="0.000" min="0" max="50" step="0.001")
			fieldset.form-group
				legend &ensp;Изображения изделия&ensp;
				button(type="button", data-toggle="modal", data-target="#ModalImage").btn.btn-info Загрузить изображение
				.modal.fade#ModalImage(tabindex="-1", role="dialog", aria-labelledby="ModalCenterTitle", aria-hidden="true")
					.modal-dialog.modal-dialog-centered.modal-lg(role="document")
						.modal-content
							.modal-header
								h5.modal-title Выбрать изображение
								button(type="button", data-dismiss="modal", aria-label="Close").close
									span(aria-hidden="true") &times;
							.modal-body
								.container-fluid
									.row
										.col-2
											img(src="img/product_items/img1.png", alt="изображение из базы").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
										.col-2
											img(src="img/product_items/img1.png", alt="").img-load
							.modal-footer
								button(type="button", data-dismiss="modal").btn.btn-secondary Отмена
								button(type="button").btn.btn-success Загрузить
			.btn_formProduct
				button(type="button").btn.btn-secondary Добавить
				button(type="button").btn.btn-secondary Сохранить
			button(type="button").btn.btn-dark Удалить
		.col-md-9
			fieldset
				legend &ensp;Список изделий:&ensp;
				.table_limiter
					table.table.table-bordered
						thead.thead-light
							tr
								th(scope="col" style="width: 11%") Артикул
								th(scope="col" style="width: 11%") Артикул (старый)
								th(scope="col" style="width: 11%") Код ТНВЭД
								th(scope="col" style="width: 15%") Наименование изделия
								th(scope="col" style="width: 15%") Обозначение по ТД
								th(scope="col" style="width: 15%") Наименование по ТД
								th(scope="col" style="width: 11%") Габариты
								th(scope="col" style="width: 11%") Масса (кг)
						tbody
							+tablesRow('Данные', 8)
							+tablesRow('Данные', 8)
							+tablesRow('Данные', 8)
							+tablesRow('Данные', 8)