.formProduct,
.formGroup {
	margin-top: 1.5rem;
	font-size: 0.9em;
	table {
		text-align: center;
	}
	th {
		vertical-align: top;
		white-space: nowrap;
	}
	.form-group {
		padding-bottom: 2rem;
		label {
			padding-top: 1rem;
			margin-bottom: 0;
		}
		legend + label {
			padding: 0;
		}
	}
}

.table_limiter {
	max-height: 1078px;
	overflow: auto;
}

.custom-select {
	height: auto;
}
.custom-file {
	cursor: pointer;
}
.custom-file-label {
	height: 30px;
	cursor: pointer;
	z-index: 5;
	&::after {
		content: "Выбрать";
		height: auto;
	}
}
.form-control {
	font-size: 1em;
	height: auto;
}

.img-prod {
	display: block;
	margin: 0 auto;
	padding-top: 1rem;
	height: 200px;
	width: auto;
}

fieldset {
	min-width: inherit;
	padding: 1rem;
	margin: inherit;
	border-width: 2px;
	border-style: groove;
}
legend {
	@extend %font-secondary;
	width: auto;
	margin-bottom: 0;
}

.btn {
	font-size: 1em;
	line-height: 1.5em;
}
.btn_formProduct {
	display: flex;	
	justify-content: space-between;
	padding: 1rem 0 2rem 0;
	> .btn {
		width: 48%;
	}
	+ .btn {
		width: 100%;
		margin-top: -1rem;
	}
}

.tr_sel{
	&:nth-of-type(even) {
		background-color: rgba(0, 0, 0, 0.03);
	}
}
.selected {
  background-color: #6c757d !important;
  color:#fff;
  outline:0;
}

.modal-header,
.modal-header .close {
	font-size: 1.25em;
	.modal-title {
		font-weight: 600;
		font-size: 1em;
	}
}
legend + .btn-info {
	width: 100%;
}
.img-load {
	display: block;
	cursor: pointer;
	margin: 20px auto;
	width: auto;
	height: 100px;
}
.img-selected {
	outline: #80bdff solid 3px;
	outline-offset: 10px;
}