mixin card-product_item(href,img,name,artNow,artOld)
	.col-lg-3.col-md-4.card-deck
		.card
			.card-header.articul
				.articul-now Артикул: 5050844
				.articul-old Стар. арт.: 50104848
			.card-img-top
				img(src="img/product_items/img"+img+".png", alt=name)
				.actions
					a(href=href).add-cart В корзину
					a(href=href).view-item Подробнее
			.card-body
				.card-title= name

// Навигация "Хлебные крошки"
nav.navigate-breadcrumb
	.container
		.row
			.col
				nav(aria-label="breadcrumb")
					ol(class="breadcrumb")
						li(class="breadcrumb-item") <a href="#">Главная</a>
						li(class="breadcrumb-item") <a href="#">Каталог продукции</a>
						li(class="breadcrumb-item active" aria-current="page") Клапаны пожарные

// Подкатегории
section.wrepper-product_Item
	.container
		.row.product_item-img
			+card-product_item('page-productDetail.html', 1, 'Клапан КПЛ 50-1')
			+card-product_item('#', 1, 'Клапан КПЛ 50-2')
			+card-product_item('#', 1, 'Клапан КПЛ 65-1')
			+card-product_item('#', 2, 'Клапан КПЛ 65-2')
			+card-product_item('#', 2, 'Клапан КПЛМ 50-1')
			+card-product_item('#', 2, 'Клапан КПЛМ 50-2')
			+card-product_item('#', 1, 'Клапан КПЛМ 65-2')
			+card-product_item('#', 4, 'Клапан КПЛП 50')
			+card-product_item('#', 6, 'Клапан КПЛП 65')
			+card-product_item('#', 2, 'Клапан КПЧ 50-1')
			+card-product_item('#', 3, 'Клапан КПЧ 50-2')
			+card-product_item('#', 7, 'Клапан КПЧ 65-1')
			+card-product_item('#', 4, 'Клапан КПЧ 65-2')
			+card-product_item('#', 1, 'Клапан КПЧМ 50-1')
			+card-product_item('#', 1, 'Клапан КПЧМ 65-1')
			+card-product_item('#', 3, 'Клапан КПАЛ 50-1')
			+card-product_item('#', 1, 'Клапан КПАЛ 65-1')