doctype html

- var title = 'Подробнее'

html(lang="ru-RU")

	head
		include ../modules/head
	
	body
		include ../modules/header
		include ../modules/navigation
		include ../modules/page-detail
		include ../modules/footer


		script(src="js/scripts.min.js")