doctype html

html(lang="ru")

	head
		block title
		include ../modules/head

	body
		include ../modules/header
		include ../modules/navigation

		block content

		include ../modules/footer
		include ../modules/top_arrow
		include ../modules/chat

		script(src="js/scripts.min.js")