doctype html

html(lang="ru")

	head
		block title
		include ../modules/head

	body
		include ../modules/header
		include ../modules/nav/navigation

		block content

		include ../modules/footer
		include ../modules/other/top_arrow
		include ../modules/other/chat

		script(src="js/scripts.min.js")