// форма отправки заявки
section.container.form-request
	.caption-request
		h1 Оформление заявки
	.row.request
		.col-lg-2.request__img
			img(src="img/product_items/img1.png", alt="name")
		.col-lg-6.request__name
			span Клапана пожарные латунные под углом 125° Ру 1,6 МПа
		.col-lg-2.request__articul
			.art_cap
				p Артикул:
				p Артикул ст.: 
			.art_number
				span 151554645
				span 897545641
		.col-lg-2.request__amount
			span Кол-во:
			span.input-value
				button(type="button").minus
				input(type="text", data-link="quantity").db-numeric
				button(type="button").plus
		.request__close
			span(title="Удалить") &times;
	.row.request
		.col-lg-2.request__img
			img(src="img/product_items/img1.png", alt="name")
		.col-lg-6.request__name
			span Клапана пожарные латунные под углом 150° Ру 1,6 МПа
		.col-lg-2.request__articul
			.art_cap
				p Артикул:
				p Артикул ст.: 
			.art_number
				span 151554645
				span 897545641
		.col-lg-2.request__amount
			span Кол-во:
			span.input-value
				button(type="button").minus
				input(type="text", data-link="quantity").db-numeric
				button(type="button").plus
		.request__close
			span(title="Удалить") &times;
	.row.request
		.col-lg-2.request__img
			img(src="img/product_items/img1.png", alt="name")
		.col-lg-6.request__name
			span Клапана пожарные латунные под углом 180° Ру 1,6 МПа
		.col-lg-2.request__articul
			.art_cap
				p Артикул:
				p Артикул ст.: 
			.art_number
				span 151554645
				span 897545641
		.col-lg-2.request__amount
			span Кол-во:
			span.input-value
				button(type="button").minus
				input(type="text", data-link="quantity").db-numeric
				button(type="button").plus
		.request__close
			span(title="Удалить") &times;
	.row.request
		.col-lg-2.request__img
			img(src="img/product_items/img1.png", alt="name")
		.col-lg-6.request__name
			span Клапана пожарные латунные под углом 190° Ру 1,6 МПа
		.col-lg-2.request__articul
			.art_cap
				p Артикул:
				p Артикул ст.: 
			.art_number
				span 151554645
				span 897545641
		.col-lg-2.request__amount
			span Кол-во:
			span.input-value
				button(type="button").minus
				input(type="text", data-link="quantity").db-numeric
				button(type="button").plus
		.request__close
			span(title="Удалить") &times;
	.make_request
		button(type="button").button Оформить заявку
